:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin-left: 220px;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #958ecf4b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  min-width: 500px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
.button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {

  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #333;
}

.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  padding: 0;

}

.sidebar ul li {
  padding: 10px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}
.divMatch{
  background-color: yellowgreen;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 300px;
  height: 115px;
}
.divPartisipant{

  display: flex;
  align-items: center;
  gap: 5px;
}
.spanPartisipant{
  display: flex;
  width: 240px;
  height: 35px;
  align-items:center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 10px; 
  background-color: gray;
  margin-top: 10px;
  margin-bottom: 10px;
}
.inputScore{
  width: 30px;
  margin-right: 10px;
}
.finalMatch {
  display: inline-block;     
  width: 300px;
}

.divMatch {
  background-color: white;
  margin-bottom: 20px;
  width: 300px;
  box-sizing: border-box;
}
.round{
  border-left: 2px dashed red;
  margin-left: -2px; 
  min-height: 100%;
  border-bottom: 2px dashed red;
}
.finalTD {
  text-align: center;
  vertical-align: middle;
}
.spanPartisipantWiner{
  border:5px solid rgb(0, 255, 0);
}
.matchEnd{
  border:5px solid rgb(0, 255, 0);
}